<!doctype html>
<html class="no-js" lang="cs">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{% block title %}{{ title|default('SHRQ Symposium on Middle Eastern Culture')|striptags }}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">

    <link rel="shortcut icon" href="favicon.ico">

    {% block includes %}
        <link href="{{ asset('bundles/shrqsymposium/css/style.css') }}" type="text/css" rel="stylesheet"/>
        <link href="{{ asset('bundles/shrqsymposium/css/addon.css') }}" type="text/css" rel="stylesheet"/>

        {% include "CmfCreateBundle::includecssfiles.html.twig" %}
    {% endblock %}

    <!--[if lte IE 8]><script src="{{ asset('bundles/shrqsymposium/js/vendor/respond.min.js') }}"></script><![endif]-->
    <script src="{{ asset('bundles/shrqsymposium/js/vendor/modernizr.js') }}"></script>
</head>
<body>
    <div class="page">
        {% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <header>
            <h1>Symposium on
                <br>Middle Eastern Culture
                <span>SHRQ</span>
            </h1>

            <h2>
                28 11 — 7 12 2014
                <br>Municipal Library
                <br>of Prague
            </h2>
            <ul class="c">
                <li class="symbol-01"><img src="{{ asset('bundles/shrqsymposium/img/symbol-01.png') }}" alt=""></li>
                <li class="symbol-02"><img src="{{ asset('bundles/shrqsymposium/img/symbol-02.png') }}" alt=""></li>
                <li class="symbol-03"><img src="{{ asset('bundles/shrqsymposium/img/symbol-03.png') }}" alt=""></li>
            </ul>
            {% render url('fos_user_security_login') %}
        </header>
        {% endif %}

        {% block content %}
        {% endblock %}
        <footer></footer>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write("<script src='{{ asset('bundles/shrqsymposium/js/vendor/jquery-1.10.2.min.js') }}'><" + "/script>")</script>

    <script src="{{ asset('bundles/shrqsymposium/js/global.js') }}"></script>

    {% render controller("cmf_create.jsloader.controller:includeJSFilesAction", {'_locale': 'en'}) %}
</body>
</html>

