{% extends "SHRQSymposiumBundle::layout.html.twig" %}

{% block content %}
{% if is_granted('ROLE_USER') %}
	<section id="logged">
		<nav>
			<ul class="c grid-1">
				<li>
					<a href="#" class="opened">My profile</a>
					<div class="profile opened">
						{% render url('fos_user_profile_show') %}
					</div>
				</li>
				<li>
					<a href="#">General Info</a>
					<div class="person-detail">
						{{ generalInfo.body|replace({'<a href': '<a class="link" href'})|raw }}
						<ul class="person-lessons">
							<li>
								<a href="#">Lorem ipsum dolor sit amet</a>
								<div class="lesson-details">
									<p>Etiam rutrum, mauris a suscipit pulvinar, sem sapien laoreet arcu, vel fringilla massa dolor id erat. Aenean sollicitudin vitae velit id bibendum. Nulla vitae cursus nulla. Sed vitae facilisis diam. Curabitur ante felis, fermentum ac euismod ac, vehicula id sapien. Sed eget lorem libero. Sed a urna nisi. Suspendisse eget elit vel risus pharetra bibendum vitae a turpis. </p>
								</div>
							</li>
							<li>
								<a href="#">Interdum et malesuada fames</a>
								<div class="lesson-details">
									<p>Etiam rutrum, mauris a suscipit pulvinar, sem sapien laoreet arcu, vel fringilla massa dolor id erat. Aenean sollicitudin vitae velit id bibendum. Nulla vitae cursus nulla. Sed vitae facilisis diam. Curabitur ante felis, fermentum ac euismod ac, vehicula id sapien. Sed eget lorem libero. Sed a urna nisi. Suspendisse eget elit vel risus pharetra bibendum vitae a turpis. </p>
								</div>
							</li>
							<li>
								<a href="#">Etiam rutrum</a>
								<div class="lesson-details">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec felis felis, tincidunt ac sapien ac, viverra luctus odio. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum eu tortor arcu. Aliquam vel massa cursus, tristique dui eu, facilisis ligula. Ut dignissim enim nec convallis aliquam. Sed mollis et arcu non dignissim. Vivamus at pulvinar ligula. Nullam vehicula mi eu fermentum dictum. Suspendisse porttitor enim nec nibh consequat, sit amet fringilla diam fringilla. Sed lorem elit, tristique id faucibus vitae, rhoncus in urna. Pellentesque laoreet, ligula nec pharetra hendrerit, sem diam fringilla nunc, vitae fringilla neque odio ac metus. Nulla quis enim risus. Duis vel euismod erat. Quisque accumsan libero in elit rutrum, a dapibus felis placerat. </p>
								</div>
							</li>
						</ul>
					</div>
				</li>
				<li>
					<a href="#">Program update</a>
					<ul class="sub-1">
						{% for programUpdate in programUpdates %}
							<li>
								<a href="#">{{ programUpdate.title }}</a>
								<div class="person-detail">
									{{ programUpdate.content|raw }}
								</div>
							</li>
						{% endfor %}
					</ul>
				</li>
				<li>
					<a href="#">Documents</a>
					<div class="documents">
						<ul class="row-1">
							<li><a href="#" class="link pdf">
								Guedra<br>
								trance ritual of the<br>
								Blue People/<br>
								Kel Tagelmousse<br>
								of the Sahara<br>
							</a></li>
							<li><a href="#" class="link">
								Martin Stokes<br>
							</a></li>
							<li><a href="#" class="link mp3">
								MP3<br>
								Guedra<br>
								trance ritual of the<br>
								Blue People/<br>
								Kel Tagelmousse<br>
							</a></li>
							<li><a href="#" class="link pdf">
								JtE 1 and JtE 2<br>
								lineup
							</a></li>
							<li><a href="#" class="link pdf">
								Guedra<br>
								trance ritual of the<br>
								Blue People/<br>
								Kel Tagelmousse<br>
								of the Sahara
							</a></li>
						</ul>
						<ul class="row-2">
							<li><a href="#" class="link pdf">
								Terms of service
							</a></li>
							<li><a href="#" class="link pdf">
								Nationalities and<br>
								ethnic group in<br>
								Egypt
							</a></li>
						</ul>
					</div>
				</li>
				<li class="logout">
					<a href="{{ path('fos_user_security_logout') }}" class="link">Logout</a>
				</li>
			</ul>
		</nav>

	</section>
{% endif %}

<section id="menu">
	<nav>
		<ul class="c grid-1">
			<li><a href="#news">News</a>
				<div class="person-detail">
					{% for n in news %}
						<p><b>{{ n.title }}</b></p>
						{{ n.content|raw }}
					{% endfor %}
				</div>
			</li>
			<li><a href="#introduction">Introduction</a>
				<div class="person-detail">
					{{ introduction.body|replace({'<a href': '<a class="link" href'})|raw }}
				</div>
			</li>
			<li>
				<a href="#lectures">Lectures</a>
				<ul class="sub-1">
					<li><a href="#">Farida Fahmy</a>
						<div class="person-detail">
							<img src="{{ asset('bundles/shrqsymposium/img/farida.jpg') }}" alt="">
							<p>Egyptian dance and cinema icon Farida Fahmy was co-founder and principle dancer of the Original Reda Troupe for 25 years. Elevating Egyptian theatre dance to the high arts, her unique style, grace and elegance inspired generations of dancers and won her the admiration of her audiences in Egypt and abroad. Her dedication, hard work, discipline and commitment to the troupe made her a role model that was emulated by generations of dancers. Together with her brother-in-law Mahmoud Reda and the Reda troupe, she traveled extensively, performing in over 60 countries and participated in international dance festivals where the troupe has won various prizes and awards. She has danced for heads of states in numerous cultural and honorary performances in Egypt and abroad. In 1967 Farida was decorated by President Gamal Abdel Nasser with the Order of Arts and Sciences for services rendered to the state, in 1956 by King Hussein of Jordan with the Star of Jordan, and in 1973 by President Bourguiba of Tunisia. She starred in a number of Egyptian films, as well as in two major musicals directed by her late husband Ali Reda, starring Mahmoud Reda and The Reda Troupe.</p>
							<p>Farida continued to pursue her education while she performed in The Reda Troupe. She received her Bachelor of Arts in English Literature from Cairo University in 1967, and her Master of Arts degree in Dance Ethnology from The University of California at Los Angeles (UCLA).</p>
 
							<ul class="person-lessons">
								<li>
									<a href="#">Dance in Egypt - From field to the stage</a>
									<div class="lesson-details" id="farida-1">
										<p>Lecture will discuss in full the field researches that Mahmoud Reda under went. The lecture would explain in some detail the methods used and how it was presented on stage.  The main  characteristic that will be discussed in full will be improvisation and how it is shared by other art forms, its pros and cons.</p>
									</div>
								</li>
								<li>
									<a href="#">My journey with the Reda troupe</a>
									<div class="lesson-details" id="farida-2">
										<p>An introduction to Ms.Farida's dance life, aspirations, and how the Reda Troupe was founded with reference to the founder and his co-founders. The lecture will deal with the historical  and social aspects, especially the drastic change that the establishment of Reda Troupe meant for the perception of egyptian dance.</p>
									</div>
								</li>
								<li>
									<a href="#">The birth of a new dance form in Egypt</a>
									<div class="lesson-details" id="farida-3">
										<p>The lecture will deal with the artistic aspect of egyptian dance and the birth of a new dance form that embraced many styles. It will also involve informations on the many stages of its presentations.</p>
									</div>
								</li>
							</ul>
						</div>
					</li>

					<li><a href="#">Karin van Nieuwkerk</a>
						<div class="person-detail">
						<img src="{{ asset('bundles/shrqsymposium/img/karin.jpg') }}" alt="">
							<p>Karin van Nieuwkerk is Lecturer in Anthropology at Nijmegen University, (NL), Department of Languages and Cultures of the Middle East. Her main field of research has been women in the Middle East, particularly Egypt. On this topic she has published several articles and the book "A Trade like Any Other": Female Singers and Dancers in Egypt, Austin: Texas University Press (1995), and Cairo: American University in Cairo Press (1996). She is currently involved in a research project on religion, gender and identity in a multicultural society, focussing on the Dutch female conversion to Islam.</p>
							<ul class="person-lessons">
								<li>
									<a href="#">Performing Piety: Egyptian art and the Islamic Revival </a>
									<div class="lesson-details" id="karin-1">
										<p>This lecture continues the historical developments in the lives and status of female performers in Egypt, but  now particularly focusses on the influence of the Islamic Revival on the performing arts (1980-2010). Influenced by the “Islamic Awakening,” some artists - including dancers – became very pious, “repented,” and stepped down from the field of  art. There emerged “Islamic” weddings as an alternative to popular weddings in the street with female dancers. Whereas, generally speaking, the climate is not very favorable for performing arts by women, even in this “Islamic alternative,” (folklore) dance is re-introduced. This shows the great importance of dance as an expression of joyfulness in Egypt.</p>
									</div>
								</li>
								<li>
									<a href="#">The Social History of female dancers in Egypt (18th – 20th century)</a>
									<div class="lesson-details" id="karin-2">
										<p>
											This lecture will provide a historical account of the developments in the social position of female dancers in Egypt from the late 18th century up till the late 1980s. While the early female performers combined singing, dancing and poetry and performed only for women, profound shifts occurred in both the genre of performance, the audience, and the organization of the profession, leaving strong marks on their social status. The history of female dancers clearly reflects broader social changes in
											Egypt. Based on travel accounts and art magazines regarding the late 18th until the beginning of the 20th century and on oral history and participant observation with regard to the 1940-1990 period, the  tremendous changes in the status and lives of female dancers will be sketched.

										</p>
									</div>
								</li>
							</ul>
						</div>
					</li>
					<li><a href="#">Sahra Saeeda</a>
						<div class="person-detail">
						<img src="{{ asset('bundles/shrqsymposium/img/sahra.jpg') }}" alt="">
							<p>As a Dance Ethnologist, Sahra has University degrees in Dance Ethnology (Master of Arts UCLA), Cultural Anthropology and Archeology (Bachelor UCSB), and Dance (Associate of Arts Palomar College).  After living, researching and performing in Cairo for 6 years (1989-1995) she returns to research in Egypt annually.</p>
							<p>As a performer, Sahra performs Oriental and Egyptian Folkloric worldwide. Los Angeles California based, she moved to Cairo to research in 1989, and within the month received a contract with the Meridian-Heliopolis 5-star hotel. She held a continuous 6-night a week contract there for nearly 6 years.  She holds the record in Cairo Egypt for the longest running contract of a foreign dancer at a 5-Star Hotel with over 1600 shows in Cairo, Egypt alone. As a teacher, Sahra has taught (and performed) Egyptian style Oriental and Folkloric dance on five continents.  She continues teaching a full tour schedule 11 months a year.  Her warm style of teaching encourages students to grow, learn and enjoy.</p>
							<ul class="person-lessons">
								<li>
									<a href="#">Nationalities and ethinc groups in Egypt</a>
									<div class="lesson-details" id="sahra-1">
										<p>Egyptian identity is closely tied to geography.  Geographically there 4 regions in Egypt, however for the purpose of defining cultural groups, I have found it easier to divide Egypt into 9 regions, which reflect the view of the peoples themselves.  Three of the regions follow geography, with the addition of the Oases in the Western Desert, and the man-made region of the Suez Canal.  Only 3.5% of Egypt is cultivated and permanently settled, most of this is the Nile Valley and Delta.  The Nile Valley is divided into four regions, one being the capital city of Cairo.  Each of these regions represents a different cultural area, each having it’s own dance style.</p>
									</div>
								</li>
								<li>
									<a href="#">Nubia</a>
									<div class="lesson-details" id="sahra-2">
										<p>Previously Nubians lived primarily in what is now Sudan. Because of the building of the Aswan High Dam, they were relocated to north of the dam mainly in Aswan and Kom Ombo, as their villages became submerged under the water of Lake Nasser.  They do not self-define as “Nubians,” which is the name the ancient Pharaonic Egyptians gave them meaning “gold,” they identify as the two socio-linguistic tribes Kinzi and Fadiki.</p>
									</div>
								</li>
								<li>
									<a href="#">Saidi and the Ghawazee</a>
									<div class="lesson-details" id="sahra-3">
										<p>The largest of the inhabited regions, al Sa’id region is located from just south of Cairo to almost the length of Egypt.  Sa'idi are from the original Pharaonic people. They are most well known around the world for their Assaya dance and Tahtib (a type of martial arts contest/fight).  Sa’idi dance is well represented by the Egyptian National Troupes, as well as foreign dancers around the world.  There are several Ghawazee (performing family) groups in Egypt, the main group we will look at is the Banat Mazin, who live and perform for the Sa'idi people in Luxor.</p>
									</div>
								</li>
							</ul>
						</div>
					</li>
					<li><a href="#">Martin Stokes</a>
						<div class="person-detail">
						<img src="{{ asset('bundles/shrqsymposium/img/martin.jpg') }}" alt="">
							<p>Martin Stokes is King Edward Professor of Music. He studied first music, then social anthropology at Oxford. He taught at The Queen's University of Belfast (1989-1997), The University of Chicago (1997-2007) and Oxford University (2007-2012). He was a Howard Foundation Fellow at the Chicago Humanities Institute in 2002-3. </p>
							<p>He has been a visiting professor at Bogazici University in Istanbul on two occasions, and currently holds an honorary professorship in the Department of Arts and Cultural Studies at the University of Copenhagen. In 2013 he will be giving the Bloch Lectures at the University of California, Berkeley. Martin has been studying and playing Middle Eastern music since the 1980s. Since 2012, Martin has been based at King's College, London, where he teaches ethnomusicology. </p>
							<ul class="person-lessons">
								<li>
									<a href="#">Maqamat</a>
									<div class="lesson-details" id="martin-1">
										<p>A basic look at the origins of Maqams, history and Maqam families. Some of the subtle differences between the Turkish and Arabic translation of Maqams.</p>
									</div>
								</li>
							</ul>
						</div>
					</li>
					<li><a href="#">Morocco</a>
						<div class="person-detail">
						<img src="{{ asset('bundles/shrqsymposium/img/morocco.jpg') }}" alt="">
							<p>
							Morocco (B.A. Carolina Varga Dinicu) is a member of the Congress on Research in Dance (C.O.R.D.), the Society of Dance History Scholars (S.D.H.S.), the International Coucil on Dance – UNESCO (C.I.D.) and the International Council on Health, Physical Education Sport &amp; Dance – UNESCO (ICHPER-SD). One of the first inducted into the AAMED Mideastern Dance Hall of Fame as “World Class”. Morocco was also voted Ethnic Dancer of the Year in ’97, Instructor of the Year in ’98 &amp; given the Lifetime Achievement award in 2002 by Zaghareet Magazine. In 2005 MECDA voted her their Humanitarian Award for her “body of work” over a lifetime in furthering and enriching Near and Mid-Eastern music and dance &amp; in 2006 the Isis Foundation gave her a Lifetime Achievement Award in Ethnic Dance from the Near and Middle East. Since 1964, Morocco has written for several publications in her field and been reprinted in dance, medical and feminist publications internationally. A true pioneer in the field, she taught a 3-credit course in Middle Eastern Dance &amp; Culture at the State University of New York (Purchase, NY) in the mid 1970s. Her recently published reference book, “You Asked Aunt Rocky: Answers &amp; Advice About Raqs Sharqi &amp; Raqs Shaabi” has received numerous 5-star reviews and is fast becoming the go-to book in the field. Morocco has been doing research, teaching and performing for over 50 years.</p>
							<ul class="person-lessons">
								<li>
									<a href="#">In Loving Remembrance: the Best School That Ever Was</a>
									<div class="lesson-details" id="morocco-1">
										<p>Personal memories of how Morocco learned "in culture" in the Near &amp; Middle Eastern diaspora communities in the US/ NYC and how the first schools of oriental dance started: In 1960, when I first started performing as an Oriental dancer, there were NO schools. Performers either assimilated the dance "in culture"/ in the family/ from the "realies" or made it up out of whole cloth. I was fortunate to have learned "in culture". This is the story of how that happened, how I first learned the beginning basics and where it led me to travel and research. </p>
									</div>
								</li>
								<li>
									<a href="#">Styles of oriental dance / Raqs Sharqi / Oryantal Tansi</a>
									<div class="lesson-details" id="morocco-2">
										<p>What are the different "styles" of Raqs Sharqi? What makes them different? How can we compare them or know what they are? Which are real &amp; which are Western inventions?</p>
									</div>
								</li>
							</ul>
						</div>
					</li>
					<li><a href="#">Khaled Noori</a>
						<div class="person-detail">
							<img src="{{ asset('bundles/shrqsymposium/img/khaled.jpg') }}" alt="">
							<p>Khaled Noori began playing the violin twenty years ago. He obtained his degree from the University of the Musical Arts in Kuwait whereupon he was asked to continue at the University as a lecturer in Arabic Music Theory and Oriental Solfège. He was appointed conductor of the Arabic Orchestra at the Un